html{
  background-color: rgb(73, 72, 69);
}

#us-map {
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  margin: 30px;
}

.caption {
  color: #d4eee1;
  display:flex;
  justify-content: center;
  font-family: 'Libre Baskerville', serif;
}

#radio-container{
  display: inline-block;
  padding: 10px;
  text-align: center;
  width: 150px;
  margin: 20px;
  font-family: 'Libre Baskerville', serif;  font-size: 20px;
  height: 100px;
  position: absolute;
  left: 20%;
  color:#d4eee1;
  
}

.legend{
  color:#d4eee1;
  padding: 10px;
  width: 200px;
  border-radius: 20px;
  font-family: 'Libre Baskerville', serif;  font-size: 20px;
  display: block;
  flex-direction:column;
  position: absolute;
  top: 240px;
  left: 20%;
}

svg {
  display: flex;
  position: relative;
  margin-left: 30%;
}

path:hover, circle:hover {
  stroke: #a79c3e !important;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: #a79c3e  !important;
}


.title{
  color: #d4eee1;
  text-align: center;
  font-family: 'Libre Baskerville', serif;  border: solid 2px #b28daa;
  border: none;
  margin: 0 auto;
  width: 900px;

}

#info-box {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #f9f9f9;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-family: 'Libre Baskerville', serif;  
  font-weight: bold;
  opacity: 0;
  font-size: 20px;
}

.bar-title{
  
  text-align: center;
  font-family: 'Libre Baskerville', serif;  position: relative;
  width: 700px;
  color: #d4eee1;
  margin: 0 auto;
  border-top: 1px solid #d4eee1;
  border-bottom: 1px solid #d4eee1;
  padding: 0px;
  
}


.legend { list-style: none; }
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
.low { background-color: #99ddff; }
.intermediate { background-color: #2a91c2; }
.high { background-color: #014f87; }
.very-high { background-color: #12283c; }

.bar-chart {
  margin: 40px;
  display: flex;
  margin: 0 auto;
}


